<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HTML 5 Boilerplate</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <div class="LogSignWrap">
            <% if(invalidLogin){%>
            <p class="InvalidLogin">Username is taken or empty field, try again</p>
            <%}%>   
            <form class="LogSignForm" action="/logcheck" method="POST">
                <input class="LogText" type="text" placeholder="Username" name="username">
                <input class="LogText" type="password" placeholder="Password" name="password">
                <input class="LogButton" type="submit" value="Login">
                <a class="GoBack" href='/'>Go Back</a> 
            </form>
        </div>
    </body>
</html>


